.url {
    word-break: break-word;
}

.runs,
.device {
    margin-top: 0;
}

.runs {
    margin-bottom: 4px;
}

.scores-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.score {
    text-align: center;
    margin: 10px;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 18px;
}

.category-text {
    margin-top: 5px;
    font-size: 14px;
}

.metrics-container {
    text-align: left;
}

.metrics-list {
    list-style-type: none;
    padding: 0;
}

.metric {
    font-size: 16px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}
