.violation {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.impact-critical {
  border-color: red;
}

.impact-moderate {
  border-color: orange;
}

.impact-minor {
  border-color: yellow;
}

ul {
  margin: 5px 0;
  padding-left: 20px;
}
